/* .music {
  position: relative;
  display: block;
  width: auto;
  height: inherit;
  top: 200px;
  text-align: center;
  color: blue;
  font-size: 56px;
} */
.section {
  padding: 70px 0;
}

.cont {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}
